html::-webkit-scrollbar{
    width: 12px;
    background: #191922;
    border-left: #32323d solid 1px;
}
html::-webkit-scrollbar-thumb{
    background-color: #F4B143;
    border: 2px solid #32323d;
    border-radius: 10px;
}

.cards-info-proyects{
    padding: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,500px);
    grid-gap: 20px;
    gap:  50px 50px;
}

.cont-titles-proyects h2{
    font-weight: 600;
    font-size: 2.8rem;
    color: white;
    text-shadow: -3px 5px 30px  #F4B143;
    padding: 0px 220px;
}

.cont-titles-proyects h3{
    font-weight: 400;
    font-size: 2rem;
    color: #F4B143;
    text-shadow: -3px 5px 30px  white;
    padding: 0px 220px;
    margin: 20px 0px;
}

.cont-img img{
    width: 500px;
    height: 298px;
    border-radius: 9px 9px 0px 0px;
    border-bottom: solid 4px #F4B143;
}

.cont-info-proyects{
    width: 500px;
    background-color: #1E1E1E;
    color: white;
    border-radius: 9px;
    height: 380px;
    overflow: hidden;
    box-shadow: -3px 5px 30px  #F4B143;
}

.cont-description h3{
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
}

.cont-description p{
    padding: 20px;
    font-size: 1.2rem;
    text-align: justify;
}

.cont-description button{
    padding: 9px 20px;
    border-radius: 50px;
    background-color: #F4B143;
    border: solid 2px white;
    cursor: pointer;
}

.cont-btn{
    padding: 10px;
    text-align: right;
}

.cont-btn span{
    font-size: 1rem;
    font-weight: 700;
    font-family: 'K2D', sans-serif;
    padding: 20px;

}

.cont-info-proyects:hover{
    transition: 1s;
    height: 580px;
}

.cont-description button:active{
    transition: all 350ms;
    background-color: #1E1E1E;
    color: white;
}

#Proyects{
    margin-bottom: 5rem;
    padding-bottom: 50px;
    border-bottom: solid 4px white;
}

