html::-webkit-scrollbar{
    width: 12px;
    background: #191922;
    border-left: #32323d solid 1px;
}
html::-webkit-scrollbar-thumb{
    background-color: #F4B143;
    border: 2px solid #32323d;
    border-radius: 10px;
}

.card-proyects{
   list-style: none;
   width: 320px;
}

.card-proyects img{
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;

}

.card-proyects .cont-context{
    background-color: #171321;
    padding: 5.25rem 1.5rem 1.5rem;
}

.cont-context h2{
    text-align: center;
    color: #F4B143;
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 900;
}

.cont-context{
    color: white;
    margin: -5rem 0 0;
    border-radius: 0.25rem;
    transition: all 0.8s;
    height: 550px;
    display: grid;
    grid-template-rows: 10% 85% 5%;
}
.cont-context p{
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.7rem;
    margin-bottom: 30px;
    text-align: justify;
}

.cont-context a{
    text-transform: uppercase;
    font-size: .6rem ;
    text-decoration: underline;
    letter-spacing: .2em;
    transition: .3s;
}

.deploy{
    margin-right: 80px;
}

.deploy:hover, .git:hover{
    color: white;
}
.cont-context:hover{
    box-shadow: rgba(244, 177, 0, 0.805) 5px 5px, rgba(244, 177, 46, 0.3) 10px 10px, rgba(244, 177, 46, 0.2) 15px 15px, rgba(244, 170, 46, 0.1) 20px 20px, rgba(244, 185, 46, 0.05) 25px 25px;
}
