
.cont-all{
    margin: auto;
}
h1{
    color: rgb(255, 255, 255);
    position: relative;
    font-weight: 400;
    text-align: center;
}

.subtitles{
    font-weight: 300;
    font-size: 20px;
    color: white;
    animation: maquina 10s  infinite alternate;
}

h1 span{
    position: absolute;
    height: 50px;
    right: 0;
    width: 0;
    background-color: #2F2F2F;
    animation: maquina 15s  infinite alternate;
}

@keyframes maquina {
    from{
        width: 100%;
    }
}

.cont-btn{
    margin: 70px 0;
    font-size: 20px;
    padding: 10px 50px;
    color: white;
    background: rgb(82,45,149);
    background: linear-gradient(90deg, rgba(82,45,149,1) 0%, rgba(82,45,149,1) 74%, rgba(49, 39, 68, 0.637) 90%);
    border: 0;
    border-radius: 100px;
    text-align: center;
    justify-content: space-between;
    font-family: 'Mitr', sans-serif;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 90% 10%;
    cursor: pointer;
}

.btn{
    display: flex;
    text-align: center;
}

.cont-btn ion-icon{
    margin-top: 6px;
}
.cont-btn span{
    margin-right: 30px;
}

.cont-all{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
}

a:-webkit-any-link{
    text-decoration: none;
    margin: auto;
    text-align: center;
}