*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: #171321;
    font-family: 'Roboto', sans-serif;
}


html{
    scroll-behavior: smooth !important;
}

nav{
    display: flex;
    justify-content: space-between;
}

header{
    border-bottom: solid 4px #F4B143;
    height: 80px;
}

nav .navegacion{
    display: flex;
}

.logo{
    display: flex;
    color: #F4B143;
}
.logo h2{
    margin-left: 15px;
    margin-top: 25px;
}


.navegacion li{
    margin: 27px 20px;
    list-style: none;
    color: #F4B143;
    font-size: 1.3rem;
    cursor: pointer;
}

.img-logo{
    width: 70px;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
}

.underline-hover::after{
    content: "";
    height: 4px;
    width: 0;
    background-color: white;
    display: block;
    transition: all 300ms;
    border-radius: 50px;
}

.navegacion ion-icon{
    font-size: 2rem;
    color: #F4B143;
    display: none;
}

.underline-hover:hover:after{
    width: 100%;
}

@media (max-width:765px)  {
    .navegacion li{
        display: none;
    }
    .navegacion ion-icon{
        display: block;
        margin:27px 20px;
    }
}

#btn-menu{
    display: none;
}

.ctn_menu{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    list-style: none;
    width: 100%;
    height: 100vh;
    transition: all 500ms ease;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .ctn_menu {
    opacity: 1;
    visibility: visible;
}

#btn-menu:checked ~ .ctn_menu .cont-menu{
    transform: translatex(0%);
}


.cont-menu{
    width: 100%;
    max-width: 250px;
    background-color: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translatex(-100%);
}
.cont-menu nav{
    transform: translateY(15%);
    display: flex;
    flex-direction: column;
}

.cont-menu nav a{
    padding: 30px;
    font-size: 20px;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #F4B143;
    background-color: #171321;
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #F4B143;
    font-size: 40px;
    cursor: pointer;
}