footer{
    height: 60px;
    border-top: 1px solid rgba(128, 128, 128, 0.136);
    margin-top: 50px;
}

.ctn_all_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cont_footer_redes{
    display: flex;
    color: white;
    margin-right: 20px;
    align-items: center;
}

.cont_footer_redes h3{
    font-weight: 200;
    margin-right: 8px;
}

.ctn_derechos_autor h3{
    margin-left: 20px;
    color: white;
    font-weight: 300;
}

.ctn_derechos_autor span{
    color: #f4b143;
    font-weight: 500;
}

.cont_footer_redes ion-icon{
    margin-right: 5px;
    font-size: 1.6rem;
}