a:-webkit-any-link {
    color: #F4B143;
    cursor: pointer;
    text-decoration: none;
}

.cont-title{
    width: 850px;
    margin: auto;
    height: auto;
}

.cont-title h1{
    font-size: 4.5rem;
    display: grid;
    grid-template-rows: 60% 40%;
    margin-top: 100px;
}

.name-title{
    color: #F4B143;
    font-size: 7rem;
    font-weight: bolder;
    text-align: center;
}

.dev{
    text-align: center;
    height: 6rem;
    background-color: #F4B143;
    font-weight: bolder;
}

#Home{
    padding: 5rem 5vw;
    border-bottom: 1px solid rgba(128, 128, 128, 0.136);
    height: 520px;
    color: rgb(40, 40, 40);
}

.skills{
    text-align: center;
}

.cont-title ion-icon{
    color: #F4B143;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 6rem;
}

@media (max-width:1000px) {
    .cont-title .name-title{
        font-size: 5rem;
    }
    .cont-title .dev{
        font-size: 3.5rem;
        height: auto;
        padding: 0 10px ;
        width: auto;
        margin: auto;
    }
    .cont-title ion-icon{
        font-size: 70px;
    }
    #Home{
        height: auto;
    }
}
@media (max-width:1000px) {
    .cont-title {
        width: auto;
    }
    .cont-title .name-title{
        font-size: 5rem;
    }
    .cont-title .dev{
        font-size: 3.5rem;
        height: auto;
        padding: 0 10px ;
        width: auto;
        margin: auto;
    }
    .cont-title ion-icon{
        font-size: 70px;
    }
}

